<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996403697853-1g2eto52pbja1fpbnh8m4np9icg50llc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996403697853-1g2eto52pbja1fpbnh8m4np9icg50llc</string>
	<key>API_KEY</key>
	<string>AIzaSyCss-K5MUXFmocGyoj_EtaFfdiDZM57iWk</string>
	<key>GCM_SENDER_ID</key>
	<string>996403697853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fireship.demoquiz</string>
	<key>PROJECT_ID</key>
	<string>quizapp-cd827</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-cd827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996403697853:ios:3bf25353456295a1bc7fd4</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-cd827.firebaseio.com</string>
</dict>
</plist>